{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-5.14.0-web/css/all.min.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/logos/20201222_152234.png' %}" type="image/x-icon">
    <title>Wakanda | E-commerce Website</title>
</head>

<body>
    {% if messages %}
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                  <div class="alert alert-success alert-dismissible fade show text-center" id="success-alert" role="alert">
                     {{ message }}
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  {% endif %}
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible fade show text-center" id="danger-alert" role="alert">
                       {{ message }}
                       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                {% endfor %}
              {% endif %}
{% block nav %}
    

    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="#">
                    <img src="{% static 'images/logos/5338968-download-logo-symbol-wakanda-forever-logo-full-size-png-image-wakanda-png-690_222_preview.png' %}"
                        alt="" style="width: 200px; height: auto;">
                </a>
            </div>
            <nav>
                <ul id="menuItems">
                    <li><a href="{% url "home" %}">Home</a></li>
                    <li><a href="{% url "products" %}">Products</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Account</a></li>
                    <li>
                        <div class="nm" >
                            {{cart}}
                        </div>
                        <a href="{% url 'cart' %}">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        
                    <li><a href="#">Deconnexion</a></li>
                    {% endif %}
                </ul>
                <img src="{% static 'images/logos/menu-512.png' %}" class="menu" alt="" onclick="menuToggle()">
            </nav>
        </div>
    </div>

{% endblock nav %}

{% block content %}
    

  
{% endblock content %}

{% block footer %}
        


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>Download App for Android and iOS mobile phone</p>
                    <div class="app-logo">
                        <a href="">
                            <img src="{% static 'images/logos/playstore.png' %}" alt="">
                        </a>
                        <a href="">
                            <img src="{% static 'images/logos/app-store.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="footer-col-2">
                    <a href="#">
                        <img src="{% static 'images/logos/5338968-download-logo-symbol-wakanda-forever-logo-full-size-png-image-wakanda-png-690_222_preview.png' %}"
                            alt="">
                    </a>
                    <p>Our purpose is to give the best quality products to the customer and bring them back and make
                        them happy.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <li><a href="">Coupons</a></li>
                        <li><a href="">Blog Post</a></li>
                        <li><a href="">Return Policy</a></li>
                        <li><a href="">Join Affiliate</a></li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us on : </h3>
                    <ul>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Youtube</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright &copy; 2020 - www.wakanda.com</p>
        </div>
    </div>

{% endblock footer %}




</body>

</html>