{% extends "user/account.html" %}

{% load static %}


{% block content %}

    {% if product_form %}

        <form method="POST" action="{% url 'createproduct' %} " enctype="multipart/form-data">
            {% csrf_token %}
            {{ product_form.as_p }}
            <button type="submit" class="btn btn-primary">Ajouter produit</button>
        </form>
        
    {% endif %}

    {% if mark_form %}

        <form method="POST" action="{% url 'createmark' %} " enctype="multipart/form-data">
            {% csrf_token %}
            {{ mark_form.as_p }}
            <button type="submit" class="btn btn-primary">Ajouter produit</button>
        </form>
        
    {% endif %}

    
{% endblock content %}
