{% extends 'app/base.html' %}

{% block content %}
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="../images/products/Adidas_Superstar_Shoes_White_FV3284_01_standard.jpg" id="productImg">
            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="../images/products/Adidas_Superstar_Shoes_White_FV3284_01_standard.jpg"
                        class="small-img" width="100%">
                </div>
                <div class="small-img-col">
                    <img src="../images/products/adidas superstars or-hjj-2.jpg" class="small-img" width="100%">
                </div>
                <div class="small-img-col">
                    <img src="../images/products/Chaussure_Superstar_Blanc_FV3284_03_standard.jpg" class="small-img"
                        width="100%">
                </div>
                <div class="small-img-col">
                    <img src="../images/products/adidas_superstar_4.jpg" class="small-img" width="100%">
                </div>
            </div>
        </div>
        <div class="col-2">
            <p>Home / Shoes</p>
            <h1>Adidas Superstar White</h1>
            <h4>130,000 BIF</h4>
            <select>
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>L</option>
                <option>M</option>
                <option>S</option>
            </select>
            <input type="number" value="1">
            <a href="" class="btn">Add to cart</a>
            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eum ad deserunt harum sequi placeat!
                Reprehenderit, officia totam voluptatibus exercitationem nam aliquid ullam iusto deleniti! Quo
                placeat dicta qui quasi?</p>
        </div>
    </div>
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More &#8594;</p>
        </div>
    </div>
    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <img src="../images/products/nike-adapt-2-huarache-ct4092-300.jpg" alt="">
                <h4>Nike Adapt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="../images/products/nike-adapt-huarache-4.jpg" alt="">
                <h4>Nike Adapt Hurache Black and White</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="../images/products/nike-adapt-2-huarache-ct4092-300.jpg" alt="">
                <h4>Nike Adapt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

</body>

</html>